@charset "utf-8";
/* CSS Document */

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-family:Arial, Helvetica, sans-serif;}
p{font-family:Georgia, "Times New Roman", Times, serif;}

#banner{
  background-color:#444;
  color:#fff;
  padding:25px;
}

.map{
  height:100%;
  width:100%;
}

#title{
  font-size:22px;
  font-weight:bold;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
}