@charset "utf-8";
/* CSS Document */

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:middle;}
h1,h3,h4,h5,h6{font-family:Arial, Helvetica, sans-serif;}
h2,p{font-family:Georgia, "Times New Roman", Times, serif;}

#mainWindow{
  position:absolute;
  top:0px;
  height:100%;
  width:100%;
}
#banner{
  background-color:#444;
  color:#fff;
  width:100%;
}

#banner.wide{
  height:115px;
}

#banner.small{
  height:44px;
}

#title{
  font-weight:bold;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
}

#title.wide{
  font-size:22px;
  margin:20px 25px 0 20px;
}

#title.small{
  font-size:16px;
  text-align:center;
  margin-top:12px;
}

#subtitle.wide{
  margin:5px 25px 0 20px;

}

#subtitle.small{
  display:none;
}

#loader{
  display:none;
  position:absolute;
  height:60px;
  width:60px;
  background:url('images/loader.gif') no-repeat right top;;
  z-index:1000;
}

.map{
  position:absolute;
  top:0;
  height:100%;
  width:100%;
}

#sidePanel{
  background-color:#fff;
  color:#444;
  height:100%;
  width:0;
}

#mobileContent{
  background-color:#fff;
  color#444;
  position:absolute;
  bottom:0;
  height:0%;
  width:100%;
  z-index:100;
  overflow:auto;
}

#legendHeader{
  background-color:#444;
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  height:21px;
  width:100%;
  padding:5px 20px 0 20px;
}

#legendPaneSide{
  height:46%;
  width:100%;
}

#sidePanel.wide{
  display:block;
  width:22%;
  min-width:275px;
}

#sidePanel.small{
  display:none;
}

#mapPane{
  overflow:hidden;
}

#infoBar{
  background-color:#444;
  color:#dadada;
  width:100%;

}

#infoBar.wide{
  display:none;
  padding:5px 0 5px 0;
}

#infoBar.small{
  display:block;
  height:36px;
  padding:5px 0 5px 0;
}

#iconBar{
  width:100%;
}

.iconCell{
  text-align:center;
  cursor:pointer;
}

.icon.wide{
  display:none;
}

.icon.small{
  display:table-cell;
}

.iconText{
  font-family:Arial, Helvetica, sans-serif;
}

.iconText.narrow{
  display:none;
}

.iconText.small{
  display:inline;
  vertical-align:top;
  line-height:2.1;
}

.iconText.wide{
  display:none;
}

.legend{
  display:none;
  padding:25px;
}

.mapTitle{
  font-weight:bold;
  margin-bottom:15px;
}

.description{
  display:none;
  padding:25px;
}

.esriPopupMobile .titlePane{
  background-color:#444;
}